<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "uEGRrmC3wYsylnID3taJd",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="uEGRrmC3wYsylnID3taJd"
        domain="www.chatbase.co"
        defer>
        </script>
</head>
<body>
    <div class="container">
        <h1>Lifestyle Analyzer</h1>
        <form id="inputForm">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="calories">Calories Taken (kcal):</label>
            <input type="number" id="calories" name="calories" required>

            <label for="sleep">Relaxation time (hours):</label>
            <input type="number" id="sleep" name="sleep" required>

            <label for="income">Income (INR):</label>
            <input type="number" id="income" name="income" required>

            <label for="working_hours">Working Hours:</label>
            <input type="number" id="working_hours" name="working_hours" required>

            <button type="submit">Submit</button>
        </form>
        <centre><div id="result"></div><br></centre>
        <a href="/article.html">Click here to know how to improve Your Lifestyle</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
